
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.list-container {
    background: #6d7fcc;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar-control-header {
    color: #fff;
    padding-top: 8px;
    float: left;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/*Secondary Visualisation CSS*/

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.predictedline {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

/* Tooltip CSS*/

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* Sidebar Styles */

.wrapper {
    align-items: stretch;
}

.nopadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.sidebar {
    color: #fff;
    transition: all 0.3s;
    height: 800px;
    position: fixed;
    padding-right: 0px !important;
    padding-top: 10px;
}

.sidebar ul li a {
    text-align: left;
}

.sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

.sidebar ul.components {
    padding: 20px 0;
    padding-top: 50px;
    border-bottom: 1px solid #47748b;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

.node-list {
    padding: 2px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-group-item {
    color: #8c8c8c;
}

/*Main Visualisation CSS*/

.dot {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    border: 3px solid transparent;
    position: relative;
    display: block;
    margin: 0 auto;
}

.info-wrapper {
    height: 40px;
    width: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

.reset-btn {
    display: inline-block;
}

.box {
    text-align: center;
    padding-top: 7px;
    color: #000;
    font-size: 0.9em;
}

/*Legend Colours*/

.legend {
    display: table-cell;
    position: fixed;
}

.greaterTwenty {
    background-color: #43A047;
}

.twenty {
    background-color: #66BB6A;
}

.ten {
    background-color: #A5D6A7;
}

.zero {
    background-color: #D3D3D3;
}

.minusTen {
    background-color: #FF9E80;
}

.minusTwenty {
    background-color: #FF6E40;
}

.minusLessTwenty {
    background-color: #FF3D00;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.active {
    stroke: #7386D5 !important;
    stroke-width: 5px;
}
.active path {
    stroke: #7386D5 !important;
    stroke-width: 5px;
}

.active-legend {
    border: 3px solid #7386D5;
}

#content {
    transition: all 0.3s;
    width: 100%;
    height: 800px;
}

/*Hides the sidebar/legend for smaller screen sizes, not optimal but helps with viewing the visualisation*/

@media (max-width: 768px) {
    .sidebar {
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
        height: 200px;
        position: inherit;
    }

}


/*Allows labels on x axis to go horizontally*/

.xaxis-line g {
    display:none;
}

#dismiss.active {
    float: none;
    text-align: center;
}

/*Modal Popup box*/

.modal-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-popup-content {
    background-color: #fefefe;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
